.theme-rose {
  --primary: #fd6f8e;
  --secondary: #fecdd6;
  --icon-outline: #a11043;
  --icon: #89123e;
  --scratch: #ffff;
}

.theme-gray-blue {
  --primary: #717bbc;
  --secondary: #b3b8db;
  --icon-outline: #d5d9eb;
  --icon: #eaecf5;
  --scratch: #3e4784;
}

.theme-moss {
  --primary: #86cb3c;
  --secondary: #acdc79;
  --icon-outline: #ceeab0;
  --icon: #e6f4d7;
}

.theme-yellow {
  --primary: #fac515;
  --secondary: #eaaa08;
  --icon-outline: #713b12;
  --icon: #fef7c3;
  --scratch: #fefbe8;
}

.theme-default {
  --primary: #ffff;
  --secondary: #f2f4f6;
  --icon-outline: #1f2938;
  --icon: #677185;
  --scratch: rgb(239 68 68);
}
